<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="fmm.spinefm.unice.fr"
            class="Spinefm.spinefm.FMModel.FMModelPackage"
            genModel="model/MetamodelSpineFM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="msplm.spinefm.unice.fr"
            class="Spinefm.spinefm.MSPLModel.MSPLModelPackage"
            genModel="model/MetamodelSpineFM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="cm.spinefm.unice.fr"
            class="Spinefm.spinefm.ConfigurationModel.ConfigurationModelPackage"
            genModel="model/MetamodelSpineFM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="pm.spinefm.unice.fr"
            class="Spinefm.spinefm.ProcessModel.ProcessModelPackage"
            genModel="model/MetamodelSpineFM.genmodel"/>
   </extension>

</plugin>
